* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
    width: 80%;
    margin: 15px auto;
}

header img {
    height: 4em;
    width: auto;
}

nav {
    margin-top: 10px;
}

li {
    display: inline-block;
    margin-right: .5em;
}

#banner {
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), 
                url('../img/banner.jpg');
    background-position: center;
    margin: 15px auto;
    border-radius: 5px;
    color: white;
    position:relative;
}

#textarea {
    height: 30%;
    width: 55%;
    position:absolute;
    left: 5%;
    bottom:10%;
    overflow: hidden;
}

#textarea h2 {
    font-weight: normal;
    font-size: 2em;
}

main, li  {
    color: gray;
}

#maincontainer div {
    float: left;
    margin: 15px 0;
}

#maincontainer img {
    width: 100%;
    height: 100px;
}

#center {
    width:calc(100% - 15% * 2 - 30px);
    margin: 0 15px;
}

.side {
    width: 15%;
}

#maincontainer::after{
    content: '';
    display: table;
    clear: both;
}

footer {
    height: 30px;
    background-color: purple;
    margin-top: 5px;
}