* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
    width: 80%;
    margin: 15px auto;
}

header img {
    height: 4em;
    width: auto;
}

nav {
    margin-top: 10px;
}

li {
    display: inline-block;
    color: gray;
    margin-right: .5em;
}

main div:first-child {
    height: 400px;
    background-color: khaki;
    margin: 15px auto;
}

#maincontainer {
    height: 420px;
    background-color: dodgerblue;
}

#maincontainer header {
    height: 15%;
}

#maincontainer div {
    height: calc(85% - 15px *2);
    float: left;
}

#maincontainer > * {
    background-color: skyblue;
    margin-bottom: 15px;
}

#center {
    width:calc(100% - 15% * 2 - 30px);
    margin: 0 15px;
}

.side {
    width: 15%;
}

footer {
    height: 30px;
    background-color: purple;
    margin-top: 5px;
}